


.pic_front{
    width: 1000px;
    height: 60px;
    /*clear: both;*/
    /*display: block;*/
    /*margin:auto;*/
    position: absolute;
    right: 90px;
}

.matter_attention{
    position: absolute;
    top:60%;
    left:40%;
    font-size: 20px;
}

.type_text{
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
}

#main_button {
    position: absolute;
    top: 28%;
    left: 45%;
}

#header {
    position: absolute;
    left: 0;
}

#small_button{
    background-color: aqua;
}
