{% extends "base.html" %}



{% block body %}
    <style>
        #main_button {
            position: absolute;
            top: 45%;
            left: 45%;
        }
        #header {
            position: absolute;
            left: 0;
        }
    </style>
{#    <div id="header">#}
{#        <img class="logo" src={{ url_for('static',filename='logo.png') }} width="2000px" height="60px">#}
{#    </div>#}
    <div id="main_button">
        <a href="query_info">
        <input type="button" name="query" value="查         询">
        </a><br>
        <a href="register_info">
        <input type="button" name="register" value="注         册">
        </a><br>
        <a href="modify_information_info">
            <input type="button" name="modify_information" value="修改信息">
        </a>

    </div>
{% endblock %}
