{% extends "base.html" %}
{% block body %}

    <style>
        #main_button {
            position: absolute;
            top: 45%;
            left: 45%;
        }
        #header {
            position: absolute;
            left: 0;
        }
    </style>
    <form action="/modify_information" method="post" id="main_button" >
        姓名：
        <br>
        <input type="text" name="name" >
        <br>
        MAC：
        <br>
        <input type="text" name="mac" >
        <br>
        <input type="submit" name="submit" value="提交">
        <br>
        {{ get_flashed_messages()[0] }}
    </form>
{% endblock %}

