{% extends "base.html" %}
{% block the_body %}

    <form action="/modify_information" method="post" id="main_button" >
        <p class="type_text">姓名：</p>
        <input type="text" name="name" >
        <p class="type_text">MAC：</p>
        <input type="text" name="mac" >
        <br><br>
        <input type="submit" name="submit" value="提交" class="btn btn-default btn-success">
        <a href="/">
            <input type="button" value="返回" class="btn btn-default btn-primary">
        </a>
        <br>
        {{ get_flashed_messages()[0] }}
    </form>
{% endblock %}

