{%  extends 'base.html'%}
{% block the_body %}

    <div>
        <form action="/rigister" method="post" id="main_button">
            <p class="type_text">姓名：</p>
            <input type="text" name="name" >
            <p class="type_text">MAC:</p>
            <input type="text" name="mac"  >
            <p class="type_text">学号：</p>
            <input type="text" name="student_id" >
            <p class="type_text">班级：</p>
            <input type="text" name="class_number" >
            <br><br>
            <input type="submit" name="submit" value="提交" class="btn btn-default btn-success">
            <a href="/">
                <input type="button" value="返回" class="btn btn-default btn-primary">
            </a>
            <br>
            {{ get_flashed_messages()[0] }}
        </form>
    </div>
{% endblock %}
