{%  extends 'base.html'%}
{% block body %}
    <style>
        #main_button {
            position: absolute;
            top: 45%;
            left: 45%;
        }
        #header {
            position: absolute;
            left: 0;
        }
    </style>
    <div>
        <form action="/rigister" method="post" id="main_button">
            姓名：
            <br>
            <input type="text" name="name" >
            <br>
            MAC:
            <br>
            <input type="text" name="mac"  >
            <br>
            学号：
            <br>
            <input type="text" name="student_id" >
            <br>
            班级：
            <br>
            <input type="text" name="class_number" >
            <br>
            <input type="submit" name="submit" value="提交">
            <a href="/">
                <input type="button" value="返回">
            </a>
            <br>
            {{ get_flashed_messages()[0] }}
        </form>
    </div>
{% endblock %}
